<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.warriors.mapper.seattle.SchoolMapper">

    <resultMap id="BaseResultMap" type="com.hp.warriors.entity.seattle.School" >
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="address" property="address" />
        <result column="province_code" property="provinceCode" />
        <result column="city_code" property="cityCode" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
        name,
        address,
        province_code,
        city_code,
        create_time,
        update_time
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.hp.warriors.entity.seattle.School">
        insert into tb_school
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != name'>
                name,
            </if>
            <if test ='null != address'>
                address,
            </if>
            <if test ='null != provinceCode'>
                province_code,
            </if>
            <if test ='null != cityCode'>
                city_code,
            </if>
                create_time,
                update_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != name'>
                #{name},
            </if>
            <if test ='null != address'>
                #{address},
            </if>
            <if test ='null != provinceCode'>
                #{provinceCode},
            </if>
            <if test ='null != cityCode'>
                #{cityCode},
            </if>
                now(),
                now()
        </trim>
    </insert>

    <select id="get" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from tb_school where id = #{id}
    </select>

    <update id="update" parameterType="com.hp.warriors.entity.seattle.School">
        update tb_school set
            <if test ='null != name'>name = #{name},</if>
            <if test ='null != address'>address = #{address},</if>
            <if test ='null != provinceCode'>province_code = #{provinceCode},</if>
            <if test ='null != cityCode'>city_code = #{cityCode},</if>
            update_time = now()
        where id = #{id}
    </update>

    <delete id="delete" >
        delete from tb_school where id = #{id}
    </delete>

</mapper>
