<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.warriors.mapper.warriors.ProvinceMapper">

    <resultMap id="BaseResultMap" type="com.hp.warriors.entity.Province" >
        <result column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
        code,
        name,
        create_time,
        update_time
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.hp.warriors.entity.Province">
        INSERT INTO tb_province
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != code'>
                code,
            </if>
            <if test ='null != name'>
                name,
            </if>
                create_time,
                update_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != code'>
                #{code},
            </if>
            <if test ='null != name'>
                #{name},
            </if>
                now(),
                now()
        </trim>
    </insert>

    <select id="get" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from tb_province where id = #{id}
    </select>

    <delete id="delete" >
        delete from tb_province where id = #{id}
    </delete>

    <update id="update" parameterType="com.hp.warriors.entity.Province">
        update tb_province set
            <if test ='null != code'>code = #{code},</if>
            <if test ='null != name'>name = #{name},</if>
            update_time = now()
        where id = #{id}
    </update>

</mapper>
